
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out both;
}

html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}


h2 {
  font-size: 1.5rem;      /* 24px */
  font-weight: 700;
  color: #1F2937;         /* text-gray-800 */
  margin-bottom: 0.5rem;  /* 8px */
}

.card-placeholder {
  background-color: #E5E7EB; /* bg-gray-200 */
  border-radius: 0.375rem;   /* rounded-md */
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 1.75;
  color: #4B5563; /* text-gray-600 */
}
